 <iframe width="560" height="315" src="https://www.youtube.com/embed/{{member.idVideo}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                <a href="/member/{{member.talent}}"><h5 class="card-title">{{member.talent}}</h5></a>
                <p class="card-text">Gen: {{member.gen}}</p>
                <p class="card-text">Sub: {{member.sub}}</p>
                <a href="#" class="btn btn-primary">Show</a>
                </div>

           
        
